/src/main/java/data/WeekLayoutInterface.java
/src/main/java/data/EuropeanLayout.java
/src/main/java/data/DayWeek.java
/src/main/java/data/AmericanLayout.java
target
.idea

calendar.html
/src/main/java/print/MonthPrinter.java
/src/main/java/print/Coordinate.java
